
.tfp .axes .x-axis {
  font-size: 1rem;
  font-family: sans-serif;
}

.tfp .axes .x-grid line {
  stroke: #D3D3D3;
}

.tfp .axes line, path {
  stroke: #808080;
}

.tfp .axes .y-axis line, path {
  stroke: none;
}

.tfp .axes .grp-axis line, path {
  stroke: none;
}

.tfp .brusher .x-grid line {
  stroke: #fff;
}

.tfp .brusher .x-axis {
  font-size: 1rem;
  font-family: sans-serif;
}

.tfp .series-segment {
  stroke: none;
  cursor: crosshair;
}

.tfp .series-group {
  cursor: crosshair;
  fill-opacity: 0.6;
  stroke: #808080;
  stroke-opacity: 0.2;
}
  
.tfp .reset-zoom-btn {
  font-family: sans-serif;
  font-size: 1rem;
  fill: blue;
  opacity: .6;
  cursor: pointer;
  text-anchor: end;
}

.tfp .legend text {
  font-family: sans-serif;
  font-size: 1rem;
  text-anchor: start;
}

.tfp .reset-zoom-btn:hover {
  opacity: 1;
}

.tfp .brusher .grid-background {
  fill: lightgrey;
}

.tfp .brusher .axis path {
  display: none;
}

.tfp .brusher .tick text {
  text-anchor: middle;
}

.tfp .brusher .grid line, path {
  stroke: #fff;
}

.tfp .chart-zoom-selection, .brusher .brush .selection {
  stroke: blue;
  stroke-opacity: 0.6;
  fill: blue;
  fill-opacity: 0.3;
  shape-rendering: crispEdges;
}

.tfp-tooltip {
  color: white;
  background: black;
  padding: 6px;
  border-radius: 3px;
  font: 14px sans-serif;
  z-index: 4000;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

.tfp-bar-x-axis {
  font-size: 1rem;
  font-family: sans-serif;
}

.tfp-bar-x-axis line, path {
  stroke: #808080;
  stroke-opacity: 0.5;
}

.tfp-bar-y-axis {
  font-size: 1rem;
  font-family: sans-serif;
}

.tfp-bar-y-axis line, path {
  stroke: #808080;
  stroke-opacity: 0.5;
}

