
body {counter-reset:section;}
h1 {counter-reset:subsection;}
h2 {counter-reset:subsubsection;}
h1:before
{
counter-increment:section;
content:counter(section) ". ";
}
h2:before 
{
counter-increment:subsection;
content:counter(section) "." counter(subsection) " ";
}
h3:before 
{
counter-increment:subsubsection;
content:counter(section) "." counter(subsection) "." counter(subsubsection) " ";
}

