name: Windows

on: [push, pull_request]

jobs:

###############################################################################
# C++ 20 standard test:
###############################################################################
  
  debug-test-cpp20:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: cmake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_CXX_STANDARD=20
    - name: build
      run: cmake --build build --parallel 10
    - name: test
      run: cd build ; ctest --exclude-regex "test-unicode" --output-on-failure
  
  release-test-cpp20:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: cmake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_STANDARD=20
    - name: build
      run: cmake --build build --parallel 10
    - name: test
      run: cd build ; ctest --exclude-regex "test-unicode" --output-on-failure
  

